<strong>Recuperação de senha</strong>

<p>Uma solicitação de recuperação de senha foi feita para o email: {{email}}</p>

<p>Caso não tenha sido você quem requisitou, seria legal trocar sua senha.</p>

<p>Segue abaixo o token para recuperação de senha: {{token}}</p>

<a href="{{link}}">Link de recuperação</a>
